name: Security Analysis

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  grype:
    name: Grype
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Scan current project
        uses: anchore/scan-action@v3
        id: scan
        with:
          path: "."
          # fail-build: false
          output-format: table
      # - name: upload Anchore scan SARIF report
      #   uses: github/codeql-action/upload-sarif@v3
      #   with:
      #     sarif_file: ${{ steps.scan.outputs.sarif }}

  grype-image:
    name: Grype Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Build the Container image
        run: docker build . --file Dockerfile --tag localbuild/todo-app:v1
      - uses: anchore/scan-action@v3
        id: scan
        with:
          image: "localbuild/todo-app:v1"
          output-format: table

  grype-sbom:
    name: Grype SBOM
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Install CycloneDX CLI
        run: npm install --global @cyclonedx/cyclonedx-npm
      - name: Generate SBOM file
        run: npx @cyclonedx/cyclonedx-npm --output-file sbom.json
      - name: Upload SBOM artifact
        uses: actions/upload-artifact@v3
        with:
          name: sbom
          path: sbom.json
      - name: Scan SBOM
        uses: anchore/scan-action@v3
        with:
          sbom: "sbom.json"
          output-format: table

  bearer:
    name: Bearer
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Run Report
        id: report
        uses: bearer/bearer-action@v2
